.plus {
  border-radius: 50%;
  color: var(--white);
  background-color: var(--primary-color);
}

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.createBtn {
  margin-top: 15px;
}